*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, #2F2325, #8E5D52);
    font-size: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 23px;

}

.img1{
    height: 72px;
}

.img1:hover{
    height: 75px;
}

.menu{
    display: flex;
    gap: 33px;
}

.item{
    color: #FFF2E7;
    font-size: 17px;
}

.item:hover{
    font-size: 19px;
    color: azure;
}

.mein{
    border-top: 0.4px solid rgb(241, 235, 235);
    margin-bottom: 47px;
}

.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.div1{
        display: flex;
        flex-direction: column;
        gap: 32px;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 64px;
    color: #FFF2E7;
}

.subt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #ECD6C4;
}

.but{
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #2F2325;
}

.but:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.img2{
    height: 430px;
}

.conteudo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.subtt{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.parag{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 480;
    font-size: 15px;
    color: #ECD6C4;

}

.fin{
    padding: 32px;
    border-top: 0.4px solid rgb(241, 235, 235);
}

.img3{
    height: 48px;
    display: block;
    margin: 0 auto;
}




